<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://farm7.static.flickr.com/6159/6263221527_6f629d6df7_b.jpg</string>
	<string>http://farm4.static.flickr.com/3324/5709658575_185b3a341f_b.jpg</string>
	<string>http://farm7.static.flickr.com/6060/5904339697_9ea19a7ae1_z.jpg</string>
</array>
</plist>
